*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Roboto','Times New Roman', Times, serif;
 font-size:10px;!important
}


.container{
  display: block;
  margin: 0 auto;
  width: 90vw;
}


.hidden{
  display: none;
  opacity: 0;
  visibility: hidden;
}
.logo{
  display: block;
  margin: 0 auto;
  width: 120px;
}
.data{
  display: flex;
  float: right;
  gap: 10px;
 }

.form {
  border: none;
  border-bottom: 1px solid black;
}

.ricos{
  margin-top: 25px;
}
.assin{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  gap: 10px;
}

.form.tamanho1{
  width: 300px;
}
.form.tamanho2{
  width: 100px
}
ul>li{
  list-style: none;
}

  .quebra {
    page-break-after: all;
 
  }

@media print {

.hidden{
  display: block;
  opacity: 1;
  visibility: visible;
}
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Roboto','Times New Roman', Times, serif;
 font-size:10px;!important
   
}

  .btn .btn-primary{
    display: none;
    opacity: 0;
    visibility: hidden;
   
  }
  .folha{
  background-color:#fff;
  padding:0.5em;
}
.a4{
  width:793px;
  height:1122px;
  margin:0 auto;
  margin-bottom: 50px;
}
}
